@import url("./style_template.css");

body {
	padding-bottom: 75px;
}

div#container {
	width: 660px;
	background: #F2E6E6;
	margin: 3vh auto 0 auto;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

div#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

h1.header {
	text-decoration: underline;
	text-align: center;
}

#rankings-wrap ol > li {
	margin-top: 10px;
	text-align: center;
}

a.backlink {
	color: #dd0000;
	display: inline-block;
	text-align: left;
	margin-bottom: 10px;
}

a#backlink-bottom {
	float: right;
	margin: 10px 0 0;
}

@media only screen and (max-width: 1150px) {
	div#container {
		width: 90%;
		margin: 15vh auto 0 auto;
	}
}