@import url("./style_template.css");

body {
	padding-bottom: 75px;
}

div#container {
	width: 1175px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

div#container::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.buttons-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}

.buttons-wrap button, #loading {
	margin-top: 10px;
	margin-left: 5px;
	font-size: 35px;
	background: #dd0000;
	color: #ff8080;
	border-radius: 20px;
	width: 24%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.6);
}

.buttons-wrap button:focus {
	outline: 0;
}

.buttons-wrap button:hover {
	background: #ff3338;
}

.titles {
	margin: 0 auto;
	font-size: 35px;
	text-align: center;
	background-color: #dd0000;
	color: #ff8080;
	border-radius: 15px;
	width: 50%;
	box-shadow: -3px 1px 40px 14px rgba(51,38,51,0.8);
	margin-top: 23px;
}

a.backlink, #rankings {
	color: #dd0000;
	display: inline-block;
	text-align: left;
	margin-bottom: 10px;
}

a#backlink-bottom {
	float: right;
	margin: 10px 0 0;
}

a#rankings {
	text-align: center;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 130px;
}

@media only screen and (max-width: 1150px) {
	div#container {
		width: 90%;
	}

	.buttons-wrap button {
		width: 32%;
	}
}

@media only screen and (max-width: 950px) {
	.buttons-wrap button {
		width: 49%;
	}
}

@media only screen and (max-width: 650px) {
	.buttons-wrap button,
	.titles {
		width: 100%;
	}
}