@import url("./style_template.css");

body {
	vertical-align: baseline;
}

div#box {
	width: 600px;
	background: #F2E6E6;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 20px;
	margin: 225px auto auto auto;
}

h1#header {
	text-decoration: underline;
	text-align: center;
}

a.backlink {
	color: #dd0000;   
}

div.statistics {
	font-size: 25px;
	text-align: center;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode */
	div#box {
		width: auto;
		margin-top: 0px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode */
	div#box {
		width: auto;
		margin-top: 0px;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}