@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Courgette);

html {
	height: 100%;
	width: 100%;
	display: table;
}

body {
	display: table-cell;
	min-height: 100%;
	background: url(/images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	vertical-align: middle;
	position: relative;
	font-family: "Open Sans"
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 18%;
	font-family: 'Courgette', cursive;
	margin-left: 10px;
	color: azure;
}

a#credits {
	color: azure;
}

.megu-sidebar {
	background-color: #A09A9A;
	position: fixed;
	top: 80px;
	left: -345px;
	min-width: 330px;
	min-height: 410px;
	font-family: 'Courgette', cursive;
	transition-duration: 0.3s;
	border: 4px solid #F9CA65;
	border-radius: 3px;
	z-index: 100;
}

.megu-sidebar:hover {
	left: 0;
}

.megu-sidebar .hangumin {
	position: absolute;
	right: -245px;
	top: -42px;
}

.sidebar-content {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 310px;
	max-height: 450px;
	padding: 0.25em 0.75em 0.75em;
	font-size: 15px;
	overflow-y: auto;
	z-index: 150;
}

.sidebar-content h1,
.sidebar-content h3 {
	margin: 0;
}

.sidebar-content h1 {
	font-size: 1.5rem;
	margin-bottom: 15px;
	text-decoration: underline;
}

.sidebar-content h3 {
	font-weight: 400;
	font-size: inherit;
}

.sidebar-content ul {
	margin: 0;
	padding: 0;
}

.sidebar-content ul li {
	list-style-type: none;
	margin: 15px 0;
}

.sidebar-content ul li::before {
	content: "->";
}

.sidebar-content hr {
	width: 100%;
}

.sidebar-content p {
	margin: 10px 0 0;
}

.sidebar-content > *:last-child {
	padding-bottom: 10px;
}

@media only screen and (max-width: 360px) {
	/* Portrait mode*/
	body {
		overflow: scroll;
	}
	.megu-sidebar {
		transform: scale(0.6);
		left: -275px;
		top: -60px;
	}
	.megu-sidebar:hover {
		left: -68px;
	}
	footer {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-height: 360px) {
	/* Landscape mode*/
	body {
		overflow: scroll;
	}
	.megu-sidebar {
		transform: scale(0.6);
		left: -275px;
		top: -60px;
	}
	.megu-sidebar:hover {
		left: -68px;
	}
	footer {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		width: 100%;
		text-align: center;
	}
}